# Variables de entorno (NUNCA subir a Git)


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python


# IDE
.vscode/
.idea/
*.swp
*.swo

# Datos generados
data/
*.json

# Logs locales
*.log

# Sistema
.DS_Store
Thumbs.db
